.clock::before, .clock::after {
    position: absolute;
    content: '';
    top: 40px;
    border: 3px solid red;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .6), 0px 30px red, -1px 29px 5px rgba(0, 0, 0, .6);
}

.clock::before {
    left: 129px;
}

.clock::after {
    left: 254px;
}